---
http_interactions:
- request:
    method: delete
    uri: https://sbapi.onthedot.com/api/v1.0/cancelbooking/BloomandWild1/abc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Activityid:
      - '857652006266519233704827'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{        "data": {     "orderNo": "abc",     "status": "Invalid orderNo."             },        "errors":{"errorMessage":"Invalid
        orderNo."}        }'
  recorded_at: Thu, 08 Mar 2018 14:05:53 GMT
recorded_with: VCR 4.0.0
