---
http_interactions:
- request:
    method: delete
    uri: https://sbapi.onthedot.com/api/v1.0/cancelbooking/BloomandWild1/nil/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Activityid:
      - '858346791246735885052820'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{        "data": {     "orderNo": "nil",     "status": "Invalid orderNo."             },        "errors":{"errorMessage":"Invalid
        orderNo."}        }'
  recorded_at: Thu, 08 Mar 2018 16:01:44 GMT
recorded_with: VCR 4.0.0
