---
http_interactions:
- request:
    method: post
    uri: https://sbapi.onthedot.com/api/v1.0/timeslotsV2
    body:
      encoding: UTF-8
      string: '{"consumer":{"address":{"postCode":"SE11 5QY"}},"items":{"readyAt":"2018-03-14T09:00:00Z","deliveryDates":[{"deliveryDate":"2018-03-14","openTime":"09:00","closeTime":"18:00"}]},"store":{"storeId":"BloomandWild1","timeslotDuration":2}}'
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Activityid:
      - '849793608457360189249545'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"data\":{ \"uuid\":\"daa3c3c4-3729-49c0-ba93-ec0f34e8c88a\", \"consumer\":
        { \"address\": { \"postCode\": \"SE115QY\" } }, \"store\": { \"storeId\":
        \"BloomandWild1\",\"timeslotDuration\":2 }\n\t\t\t\t\t\t\t,\"items\":{\"readyAt\":\"2018-03-14T09:00:00Z\",\"deliveryDates\":[{\"closeTime\":\"18:00\",\"openTime\":\"09:00\",\"deliveryDate\":\"2018-03-14\"}]},\"zone\":\"within\",\"timeslots\":[{\"timeslotId\":\"3409275-gyozcvfuv3ks\",\"expiresAt\":\"2018-03-07T17:26:13Z\",\"startTime\":\"2018-03-14T10:00:00Z\",\"endTime\":\"2018-03-14T12:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409276-gyozcvfuv3ks\",\"expiresAt\":\"2018-03-07T17:26:13Z\",\"startTime\":\"2018-03-14T12:00:00Z\",\"endTime\":\"2018-03-14T14:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409277-gyozcvfuv3ks\",\"expiresAt\":\"2018-03-07T17:26:13Z\",\"startTime\":\"2018-03-14T14:00:00Z\",\"endTime\":\"2018-03-14T16:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409278-gyozcvfuv3ks\",\"expiresAt\":\"2018-03-07T17:26:13Z\",\"startTime\":\"2018-03-14T16:00:00Z\",\"endTime\":\"2018-03-14T18:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409279-gyozcvfuv3ks\",\"expiresAt\":\"2018-03-07T17:26:13Z\",\"startTime\":\"2018-03-14T18:00:00Z\",\"endTime\":\"2018-03-14T20:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409280-gyozcvfuv3ks\",\"expiresAt\":\"2018-03-07T17:26:13Z\",\"startTime\":\"2018-03-14T20:00:00Z\",\"endTime\":\"2018-03-14T22:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}}]},\"success\":{\"status\":\"OK\"}}"
  recorded_at: Wed, 07 Mar 2018 16:16:13 GMT
- request:
    method: post
    uri: https://sbapi.onthedot.com/api/v1.0/booking
    body:
      encoding: UTF-8
      string: '{"timeslot":{"timeslotId":"1111"},"webhook":"","orderType":"1","supplierId":"CitySprint","accountNumber":"W99969","serviceType":"","referenceNo":"","departmentReferenceNo":"","store":{"storeId":"BloomandWild1","instruction":"test"},"consumer":{"name":"test","email":"xyzstore@mail.com","mobileNumber":"7777777777","address":{"firstLine":"House
        A","secondLine":"Street B","city":"City C","postCode":"HA11JU"},"instruction":""},"items":{"item":[{"referenceNumber":"21","itemContentCount":2,"totalValue":"0","weight":2,"length":2,"width":2,"height":2,"description":"2
        desc"}],"readyAt":"2018-03-14T09:00:00Z"},"notificationType":""}'
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
      Uuid:
      - daa3c3c4-3729-49c0-ba93-ec0f34e8c88a
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Activityid:
      - '849794011669870345047603'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"timeslotId": "1111"},"errors": [        {            "errorId":
        "ET-TIST-001",            "errorMessage": "Timeslot not available for the
        specified dates"        }    ]}'
  recorded_at: Wed, 07 Mar 2018 16:16:13 GMT
recorded_with: VCR 4.0.0
