---
http_interactions:
- request:
    method: get
    uri: https://sbapi.onthedot.com/api/v1.0/bookings/storeid/BloomandWild1/?pageNumber=1&pageSize=25
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Activityid:
      - '890877822822739881681502'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"data":[],"size":0},"success":{"status":"ok"}}'
  recorded_at: Mon, 12 Mar 2018 10:23:35 GMT
recorded_with: VCR 4.0.0
