---
http_interactions:
- request:
    method: post
    uri: https://sbapi.onthedot.com/api/v1.0/timeslotsV2
    body:
      encoding: UTF-8
      string: '{"consumer":{"address":{"postCode":"HA11JU"}},"items":{"readyAt":"2018-03-14T09:00:00Z","deliveryDates":[{"deliveryDate":"2018-03-14","openTime":"09:00","closeTime":"18:00"}]},"store":{"storeId":"BloomandWild1","timeslotDuration":2}}'
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Activityid:
      - '849854428791282648289585'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"data\":{ \"uuid\":\"60f0f575-c30b-465c-955f-ca38e2cb67f0\", \"consumer\":
        { \"address\": { \"postCode\": \"HA11JU\" } }, \"store\": { \"storeId\": \"BloomandWild1\",\"timeslotDuration\":2
        }\n\t\t\t\t\t\t\t,\"items\":{\"readyAt\":\"2018-03-14T09:00:00Z\",\"deliveryDates\":[{\"closeTime\":\"18:00\",\"openTime\":\"09:00\",\"deliveryDate\":\"2018-03-14\"}]},\"zone\":\"within\",\"timeslots\":[{\"timeslotId\":\"3409290-4nn1x1bl930g\",\"expiresAt\":\"2018-03-07T17:36:19Z\",\"startTime\":\"2018-03-14T12:00:00Z\",\"endTime\":\"2018-03-14T14:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409291-4nn1x1bl930g\",\"expiresAt\":\"2018-03-07T17:36:19Z\",\"startTime\":\"2018-03-14T14:00:00Z\",\"endTime\":\"2018-03-14T16:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409292-4nn1x1bl930g\",\"expiresAt\":\"2018-03-07T17:36:19Z\",\"startTime\":\"2018-03-14T16:00:00Z\",\"endTime\":\"2018-03-14T18:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409293-4nn1x1bl930g\",\"expiresAt\":\"2018-03-07T17:36:19Z\",\"startTime\":\"2018-03-14T18:00:00Z\",\"endTime\":\"2018-03-14T20:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409294-4nn1x1bl930g\",\"expiresAt\":\"2018-03-07T17:36:19Z\",\"startTime\":\"2018-03-14T20:00:00Z\",\"endTime\":\"2018-03-14T22:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}}]},\"success\":{\"status\":\"OK\"}}"
  recorded_at: Wed, 07 Mar 2018 16:26:19 GMT
- request:
    method: post
    uri: https://sbapi.onthedot.com/api/v1.0/booking
    body:
      encoding: UTF-8
      string: '{"timeslot":{"timeslotId":"3409290-4nn1x1bl930g"},"webhook":"","orderType":"1","supplierId":"CitySprint","accountNumber":"W99969","serviceType":"","referenceNo":"","departmentReferenceNo":"","store":{"storeId":"BloomandWild1","instruction":"test"},"consumer":{"name":"test","email":"xyzstore@mail.com","mobileNumber":"7777777777","address":{"firstLine":"House
        A","secondLine":"Street B","city":"City C","postCode":"HA11JU"},"instruction":""},"items":{"item":[{"referenceNumber":"21","itemContentCount":2,"totalValue":"0","weight":2,"length":2,"width":2,"height":2,"description":"2
        desc"}],"readyAt":"2018-03-14T09:00:00Z"},"notificationType":""}'
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
      Uuid:
      - 60f0f575-c30b-465c-955f-ca38e2cb67f0
  response:
    status:
      code: 200
      message: OK
    headers:
      Activityid:
      - '849854279306970660085691'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"bookingType":"credit","orderType":"1","orderNo":"10004093","orderReferenceNo":"010004093801","orderDate":"2018-03-07T16:26:18Z","status":"Booked","trackingUrl":"https://www.onthedot.com/retailer/track-map/nV2zrISaFKf7pqHfip9JQZ32QWfTGKmmAm4eHYC_rg8~","pod":null,"podDate":null,"podTime":null,"supplierId":"CitySprint","subscriptionName":"","voucherCode":"","accountNumber":"W99969","amount":{"total":"6.95","vat":"1.39"},"store":{"storeId":"BloomandWild1","retailerName":"BloomandWild","imageUrl":null,"maxmiles":10,"minmiles":5,"timeslotDuration":2,"address":{"firstLine":"Studio
        V203, Vox Studios","secondLine":"1-45 Durham Street","city":"London","state":null,"postCode":"SE11
        5JH","country":"United Kingdom"},"info":{"storeName":"BloomandWild","mobileNumber":"7777777777","businessPhoneNumber":"7777777777","website":"http://www.bloomandwild.com/","storeDesc":"Flower
        & Gift Delivery, Through The Letterbox","userName":"steve@bloomandwild.com","branchEmail":"steve@bloomandwild.com","branchInStoreTime":0,"collectionLeadTime":0,"serviceCenterCode":"WO-SD","accountType":"credit","accountNumber":"CS027280","openTime":"09:00:00","closeTime":"18:00:00","openingHours":{"FRI":"09:00
        - 18:00","MON":"09:00 - 18:00","SAT":"00:00 - 00:00","SUN":"00:00 - 00:00","THU":"09:00
        - 18:00","TUE":"09:00 - 18:00","WED":"09:00 - 18:00"},"bankHolidayDetails":{"Boxing
        Day":"09:00 - 18:00","ChristmasDay":"Closed","Early May Bank Holiday":"09:00
        - 18:00","Easter Monday":"09:00 - 18:00","Easter Sunday":"09:00 - 18:00","Good
        Friday":"09:00 - 18:00","New Years Day":"Closed","Spring Bank Holiday":"09:00
        - 18:00","Stock Take Day":"Closed","Summer Bank Holiday":"09:00 - 18:00","Year
        End Stock Day":"Closed"},"service":"YV"},"location":{"lat":"51.48598","lng":"-0.11839"},"knowMore":{"likeToBePartnerRetailer":0,"storeType":0,"havePortal":0,"shippingDetail":0,"instruction":"test"},"isDrivenMileage":"Y"},"timeslot":{"timeslotId":"3409290-4nn1x1bl930g","startTime":"2018-03-14T12:00:00Z","endTime":"2018-03-14T14:00:00Z"},"consumer":{"name":"test","email":"xyzstore@mail.com","instruction":"","webhook":"","mobileNumber":"7777777777","address":{"firstLine":"House
        A","secondLine":"Street B","city":"City C","state":null,"postCode":"HA11JU","country":""}},"items":{"readyAt":null,"deliveryDate":null,"item":[{"referenceNumber":"21","itemContentCount":2,"totalValue":"0","weight":2.0,"length":2.0,"width":2.0,"height":2.0,"description":"2
        desc"}],"totalItemCount":"0","totalItemWeight":"0"},"serviceType":"YV","uuid":"60f0f575-c30b-465c-955f-ca38e2cb67f0","referenceNo":"","departmentReferenceNo":"","transactionDate":1520439984658,"referenceNo3":null,"statusId":null},"success":{"status":"ok"}
        }'
  recorded_at: Wed, 07 Mar 2018 16:26:24 GMT
recorded_with: VCR 4.0.0
