---
http_interactions:
- request:
    method: post
    uri: https://sbapi.onthedot.com/api/v1.0/timeslotsV2/
    body:
      encoding: UTF-8
      string: '{"consumer":{"address":{"postCode":"SE11 5QY"}},"items":{"readyAt":"2018-03-14T09:00:00Z","deliveryDates":[{"deliveryDate":"2018-03-14","openTime":"09:00","closeTime":"18:00"}]},"store":{"storeId":"BloomandWild1","timeslotDuration":2}}'
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Activityid:
      - '849403447478032444512344'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"data\":{ \"uuid\":\"53584bce-912c-4522-b839-4cab2ef99dc8\", \"consumer\":
        { \"address\": { \"postCode\": \"SE115QY\" } }, \"store\": { \"storeId\":
        \"BloomandWild1\",\"timeslotDuration\":2 }\n\t\t\t\t\t\t\t,\"items\":{\"readyAt\":\"2018-03-14T09:00:00Z\",\"deliveryDates\":[{\"closeTime\":\"18:00\",\"openTime\":\"09:00\",\"deliveryDate\":\"2018-03-14\"}]},\"zone\":\"within\",\"timeslots\":[{\"timeslotId\":\"3409275-blnlrtp7x40k\",\"expiresAt\":\"2018-03-07T16:21:09Z\",\"startTime\":\"2018-03-14T10:00:00Z\",\"endTime\":\"2018-03-14T12:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409276-blnlrtp7x40k\",\"expiresAt\":\"2018-03-07T16:21:09Z\",\"startTime\":\"2018-03-14T12:00:00Z\",\"endTime\":\"2018-03-14T14:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409277-blnlrtp7x40k\",\"expiresAt\":\"2018-03-07T16:21:09Z\",\"startTime\":\"2018-03-14T14:00:00Z\",\"endTime\":\"2018-03-14T16:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409278-blnlrtp7x40k\",\"expiresAt\":\"2018-03-07T16:21:09Z\",\"startTime\":\"2018-03-14T16:00:00Z\",\"endTime\":\"2018-03-14T18:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409279-blnlrtp7x40k\",\"expiresAt\":\"2018-03-07T16:21:09Z\",\"startTime\":\"2018-03-14T18:00:00Z\",\"endTime\":\"2018-03-14T20:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3409280-blnlrtp7x40k\",\"expiresAt\":\"2018-03-07T16:21:09Z\",\"startTime\":\"2018-03-14T20:00:00Z\",\"endTime\":\"2018-03-14T22:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}}]},\"success\":{\"status\":\"OK\"}}"
  recorded_at: Wed, 07 Mar 2018 15:11:10 GMT
recorded_with: VCR 4.0.0
