---
http_interactions:
- request:
    method: post
    uri: https://sbapi.onthedot.com/api/v1.0/timeslotsV2
    body:
      encoding: UTF-8
      string: '{"consumer":{"address":{"postCode":"SE11 5QY"}},"items":{"readyAt":"2018-03-05T09:00:00Z","deliveryDates":[{"deliveryDate":"2018-03-05","openTime":"09:00","closeTime":"18:00"},{"deliveryDate":"2018-03-06","openTime":"09:00","closeTime":"18:00"}]},"store":{"storeId":"BloomandWild1","timeslotDuration":2}}'
    headers:
      Channel:
      - ECOM
      # Authorization:
      # - Bearer {removed API key}
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Activityid:
      - '781084049549763975720376'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"data\":{ \"uuid\":\"df2e212b-c8e4-42f7-8b2b-9d77f03eb7be\", \"consumer\":
        { \"address\": { \"postCode\": \"SE115QY\" } }, \"store\": { \"storeId\":
        \"BloomandWild1\",\"timeslotDuration\":2 }\n\t\t\t\t\t\t\t,\"items\":{\"readyAt\":\"2018-03-05T09:00:00Z\",\"deliveryDates\":[{\"closeTime\":\"18:00\",\"openTime\":\"09:00\",\"deliveryDate\":\"2018-03-05\"},{\"closeTime\":\"18:00\",\"openTime\":\"09:00\",\"deliveryDate\":\"2018-03-06\"}]},\"zone\":\"within\",\"timeslots\":[{\"timeslotId\":\"3408090-4hg1q04u1am8\",\"expiresAt\":\"2018-02-27T18:34:34Z\",\"startTime\":\"2018-03-05T10:00:00Z\",\"endTime\":\"2018-03-05T12:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3408091-4hg1q04u1am8\",\"expiresAt\":\"2018-02-27T18:34:34Z\",\"startTime\":\"2018-03-05T12:00:00Z\",\"endTime\":\"2018-03-05T14:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3408092-4hg1q04u1am8\",\"expiresAt\":\"2018-02-27T18:34:34Z\",\"startTime\":\"2018-03-05T14:00:00Z\",\"endTime\":\"2018-03-05T16:00:00Z\",\"quote\":{\"total\":\"0.00\",\"price\":\"0.00\",\"vat\":\"0.00\"}},{\"timeslotId\":\"3408093-4hg1q04u1am8\",[...]
